<h1 class="header">ToDo List</h1>
<ul class="task-list">
  <li class="task-list__item">
    <div class="task-list__task-label">Task1</div>
    <button class="task-list__button-del">Delete</button>
  </li>
  <li class="task-list__item">
    <div class="task-list__task-label">Task2</div>
    <button class="task-list__button-del">Delete</button>
  </li>
  <li class="task-list__item">
    <div class="task-list__task-label">Task3</div>
    <button class="task-list__button">Delete</button>
  </li>
</ul>
<div class="task-put-container">
  <input class="task-list__task-label" type="text" placeholder="Add your new ToDo" >
  <button class="task-list__button">Add task</button>
</div>
